<!DOCTYPE html>
<html>
  <head>
    <title>Team Page</title>
  </head>

  <body>
  <header>
      <nav class="navbar">
        <ul>
          <li><a href='/welcome/page/'>Accueil</a></li>
          <li><a href='/team'>Team</a></li>
          <li><a href='/team/contact'>Contact</a></li>
        </ul>
      </nav>
  </header>
  <p>
  <h1>Cree par Joffrey Marques</h1>
  </p>
  </body>
</html>
